.digimon-card {
  margin: 5px;
  display: flex;
  width: 350px;

  .example-card {
    height: 50px;
    width: 150px;
    background-color: orange;
    margin-bottom: 100px;

    .digimon-avatar {
      height: 100px;
      width: 350px;
      background-color: yellow;

      .digi {
        width: 80px;
        height: 80px;
        margin-left: 130px;
        margin-top: -40px;
      }

      .button {
        width: 100px;
        height: 30px;
        background-color: purple;
        margin-left: 20px;
        margin-bottom: 5px;
        
        .text-sizep {
          text-align: center;
          font-size: 15px;
          color: white;
          font-weight: bold;
          margin-top: 5px;
        }
      }
    }
  }
}
