<div class="digimon-card">
  <mat-card class="example-card">
    <div class="digimon-avatar">
      <div style="display: flex; align-items: center;">
        <h2>{{ digimon.id }}</h2>
        <h3 style="margin-left: 10px; font-weight: bold;">{{ digimon.name }}</h3>
        <h3 style="margin-left: 10px; font-weight: bold;">{{ digimon.level}}</h3>
      </div>
      <button class="button" color="accent" (click)="detailClicked()">
        <p class="text-sizep">Detail</p>
      </button>
      <img class="digi" [src]="'../assets/digimon/'+digimon.id+'.png'" [alt]="'Picture of ' + digimon.name" />
    </div>
  </mat-card>
</div>